extends layout-simple
block title
    title Linkapedia Blog Page

block append page_css
    link(rel='stylesheet', href='/javascripts/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet', href='/stylesheets/blogs/landing.css')

block append page_js
    script(src='/javascripts/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
    script(src='/javascripts/blogs/landing.js')


block content
    div.search
        h1.title #{blog.info.title}
        h1.title Topic map by Linkapedia
        input(search, placeholder="Find My Interest")
        br
        img(src='https://s3.amazonaws.com/blogimagelink/#{blog.info.id}/medium.png').blog-image
    h2.exploreText Explore
    div.accordion-container
        if(!blog.errors.gettingblogdomains)
            div(level='1').box
                div
                    each domain in blog.domains._embedded.domains
                        span.name
                            p(url-next='#{domain._links.taxonomies.href}') #{domain.name}
                if blog.domains._links.next
                    div(url-more='#{blog.domains._links.next.href}')
                        span(aria-hidden='true').glyphicon.glyphicon-chevron-down
        else
            p.error-message #{blog.errors.gettingblogdomains}