extends layout

block title
    title Linkapedia Topic Page

block append page_css
    link(rel='stylesheet', href='/stylesheets/topics.css')
    link(rel='stylesheet', href='/stylesheets/popup.css')

block append page_js
    script(src='/javascripts/topics.js')
    script(src='/javascripts/topicsService.js')
    script(src='/javascripts/linka-popup.js')


block content
    div.topic-info
        div.topic-title #{topic.topicInfo.name}
        div.topic-description #{topic.topicInfo.description}
        div.topic-image
            img(src="#{topic.topicInfo.image}"
            onerror="$(this).attr('src', '/images/imageNotFound.png')")
    div.topics-porlet
        div.container-fluid
            div.row
                each child in topic.topicChildren.items
                    div.col-md-1(onclick="window.location.href='/topics/"+'#{child.id}\'')
                        div.container-topic-image
                            div.topic_image.image-cropper
                                img(url-data='#{child.image}' style="display: none")
                            div.porlet-topic-title
                                p #{child.name.toUpperCase()}
    div.load-more-topics
        img(id="next-topics-button" src="/images/down-arrow-circle-hi.png")
        p More Topics?
        div(id="next-topics" style="display: none") #{topic.topicChildren.next}
    div.linka-popup(id="popup-not-more-topics") Not more topics to get :(
